// Variables of Gemini scheme
// =================================================

@import "Pisces.styl";

// Settings for some of the most global styles.
// --------------------------------------------------
$main-desktop                     = 75%;
$sidebar-desktop                  = 240
$content-desktop                  = calc(100% - 252px);
